.title {
	margin: 0;
}

.reviews {
	width: 90vw;
	max-width: 700px;
	height: 650px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

article {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 2rem solid #cee5e4;
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: all 0.8s ease-in-out;

	&.activeSlide {
		transform: translateX(0);
		opacity: 1;
	}
	&.nextSlide {
		transform: translateX(100%);
	}
	&.lastSlide {
		transform: translateX(-100%);
	}

	.body {
		max-width: 672px;
		display: grid;
		place-items: center;
		gap: 2rem;
		padding: 3rem 2rem;

		.section {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			gap: 1rem;

			&-content {
				height: max-content;

				.img {
					width: 100px;
					height: 100px;
					border-radius: 50%;
					border: 5px solid #e5cecf;
				}

				q {
					font-size: 26px;
					max-width: 400px;
					text-align: justify;
					padding-inline: 0.5rem;
				}
			}

			&-loader {
				span {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.35rem;

					.icon-star {
						color: gold;
					}
				}
				.profile-info {
					display: grid;
					place-items: center;
					gap: 0.5rem;
					h4 {
						margin: 0;
					}
					p {
						margin: 0;
					}
				}
			}
			&-underline {
				height: 0.0625rem;
				background-color: #000;
				opacity: 0.2;
			}
			&-footer {
				width: auto;

				.btns {
					display: flex;
					justify-content: center;
					align-items: center;
					// background-color: #e3f0ef;
					border-radius: 1.5rem;
					border: none;
					transition: all 0.3s ease-in-out;
					&:hover {
						opacity: 0.8;
					}

					.btn {
						width: 50px;
						height: 50px;
						padding: 0.25rem;
						border: none;
						outline: 0;
						font-size: 1rem;
						background-color: #e3f0ef;
						color: #000;
						display: grid;
						place-items: center;
						cursor: pointer;
						transition: all 0.3s ease-in-out;

						&-left {
							border-top-left-radius: 50%;
							border-bottom-left-radius: 50%;

							&:hover,
							&.active {
								background-color: #cee5e4;
								transform: scale(0.95);
							}
						}
						&-right {
							border-top-right-radius: 50%;
							border-bottom-right-radius: 50%;

							&:hover,
							&.active {
								background-color: #cee5e4;
								transform: scale(0.95);
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.reviews {
		height: 500px;
	}

	article {
		.body {
			.section {
				flex-direction: row;
				align-items: flex-start;

				&-loader {
					align-items: flex-end;
					padding-right: 0.5rem;
					padding-left: 2.5rem;
				}
			}
		}
	}
}
