main {
	width: min(100% - 2rem, 1000px);
	height: 100%;
	background-color: #e3f0ef;
	display: grid;
	place-items: center;
	gap: 3rem;

	.title {
		margin: 0;
	}

	.card {
		background-color: #fff;
		border: 2rem solid #cee5e4;

		&-body {
      max-width: 672px;
			display: grid;
			place-items: center;
			gap: 2rem;

			.section-content {
				width: 100%;
				height: 108px;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				border: 2px solid cyan;

        q{
          width: 400px;
        }
			}
		}
	}
}
