main {
	width: min(95vw, 1000px);
	height: 100%;
	background-color: #e3f0ef;
	display: grid;
	place-items: center;
	gap: 3rem;
}

@media (min-width: 600px) {
	main {
		.card {
			&-body {
				.section {
					flex-direction: row;
					align-items: flex-start;

					&-loader {
						align-items: flex-end;
					}
				}
			}
		}
	}
}
