@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ropa Sans', sans-serif;
	display: grid;
	place-items: center;
	background-color: #e3f0ef;
	min-height: 100vh;
}
